  <!-- Masthead-->
  <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
          <div class="mx-auto text-center">
              <h1 class="mx-auto my-0 text-uppercase">SkiMo</h1>
              <h2 class="text-white-50 mx-auto mt-2 mb-5">Dyscyplina rozgrywana na krawędzi.</h2>
          </div>
      </div>
  </header>
  <!-- About-->
  <section class="about-section text-center" id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 mx-auto">
                  <h2 class="text-white mb-4">Narciarstwo Wysokogórskie</h2>
                  <p class="text-white-50">
                    Rodzaj sportu narciarskiego: połączenie wspinaczki zimowej, wędrówki na nartach oraz zjazdu narciarskiego w terenie górskim, o znacznym stopniu nachylenia i dużych niebezpieczeństwach obiektywnych
                  </p>
              </div>
          </div>
      </div>
  </section>
  <!-- Projects-->
  <section class="projects-section bg-light" id="projects">
      <div class="container">
          <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
              <div class="col-lg-6"><img class="img-fluid" src=<%= asset_path("kuba3.jpg") %> alt="" /></div>
              <div class="col-lg-6">
                  <div class="bg-black text-center h-100 project">
                      <div class="d-flex h-100">
                          <div class="project-text w-100 my-auto text-center text-lg-left">
                              <h4 class="text-white">Memoriał im. Kuby Soińskiego – Night Vertical Race</h4>
                              <p class="mb-0 text-white-50">Szybkie zawody w formacie Vertical. Wyścig rozgrywany wieczorem, częściowo przy świetle czołówek startujących w nim zawodników.</p>
                              <hr class="d-none d-lg-block mb-0 ml-0" />
                              <br>
                              <a href='https://skimo.pl/sezon/2021/edycje/2021-01-09-14-zawody-w-skialpinizmie-im-kuby-soinskiego-night-vertical-race'>Więcej informacji</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row justify-content-center no-gutters">
              <div class="col-lg-6"><img class="img-fluid" src=<%= asset_path("pilsko2.jpg") %> alt="" /></div>
              <div class="col-lg-6 order-lg-first">
                  <div class="bg-black text-center h-100 project">
                      <div class="d-flex h-100">
                          <div class="project-text w-100 my-auto text-center text-lg-right">
                              <h4 class="text-white">Puchar Pilska w skialpiniźmie</h4>
                              <p class="mb-0 text-white-50">Puchar Pilska to zawody zespołowe, rozgrywane już od 2001 roku. Długa ponad 20 kilometrowa trasa i ponad 2000 przewyższenia, strome podejścia, trudne zjazdy, liny poręczowe to wszystko co czeka zawodników na trasie tych zawodów.</p>
                              <hr class="d-none d-lg-block mb-0 mr-0" />
                              <br>
                              <a href='https://skimo.pl/sezon/2021/edycje/2021-02-27-21-puchar-pilska'>Więcej informacji</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
              <div class="col-lg-6"><img class="img-fluid" src=<%= asset_path("strzelecki2.jpg") %> alt="" /></div>
              <div class="col-lg-6">
                  <div class="bg-black text-center h-100 project">
                      <div class="d-flex h-100">
                          <div class="project-text w-100 my-auto text-center text-lg-left">
                              <h4 class="text-white">Memoriał Jana Strzeleckiego</h4>
                              <p class="mb-0 text-white-50"> Memoriał Jana Strzeleckiego to zawody zespołowe które co roku zmieniają dolinę tatrzańską w której są rozgrywane. Co dwa lata zawody rozgrywane są na przemian w formule klasycznej i wyścigowej.</p>
                              <hr class="d-none d-lg-block mb-0 ml-0" />
                              <br>
                              <a href='https://skimo.pl/sezon/2021/edycje/2021-03-13-memorial-jana-strzeleckiego'>Więcej informacji</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row justify-content-center no-gutters">
              <div class="col-lg-6"><img class="img-fluid" src=<%= asset_path("budrem.png") %> alt="" /></div>
              <div class="col-lg-6 order-lg-first">
                  <div class="bg-black text-center h-100 project">
                      <div class="d-flex h-100">
                          <div class="project-text w-100 my-auto text-center text-lg-right">
                              <h4 class="text-white">Puchar KW Zakopane Budrem</h4>
                              <p class="mb-0 text-white-50">Zawody rozgrywane w Tatrach z doliny Pięciu Stawów do Doliny Gąsienicowej.</p>
                              <hr class="d-none d-lg-block mb-0 mr-0" />
                              <br>
                              <a href='https://skimo.pl/sezon/2021/edycje/2021-04-17-ix-puchar-kw-zakopane-budrem-w-narciarstwie-wysokogorskim'>Więcej informacji</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
              <div class="col-lg-6"><img class="img-fluid" src=<%= asset_path("malinowski.png") %> alt="" /></div>
              <div class="col-lg-6">
                  <div class="bg-black text-center h-100 project">
                      <div class="d-flex h-100">
                          <div class="project-text w-100 my-auto text-center text-lg-left">
                              <h4 class="text-white">Memoriał Ratowników Górskich im.Piotra Malinowskiego</h4>
                              <p class="mb-0 text-white-50">Kultowe zawody w ski-alpinizmie z przepiękną wysokogórską trasą prowadzącą przez pięć tatrzańskich przełęczy.</p>
                              <hr class="d-none d-lg-block mb-0 ml-0" />
                              <br>
                              <a href='https://skimo.pl/sezon/2021/edycje/2021-04-24-xxi-memorial-ratownikow-gorskich-im-piotra-malinowskiego'>Więcej informacji</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="customer-logos slider">
    <div class="slide">
      <%= image_tag('logos/ismf.png') %>
    </div>
    <div class="slide">
      <%= image_tag('logos/msit.jpg') %>
    </div>
    <div class="slide">
      <%= image_tag('logos/pkol.png') %>
    </div>
    <div class="slide">
      <%= image_tag('logos/pza.gif') %>
    </div>
    <div class="slide">
      <%= image_tag('logos/kwkrakow.png') %>
    </div>
    <div class="slide">
      <%= image_tag('logos/kwzakopane.jpg') %>
    </div>
    <div class="slide">
      <%= image_tag('logos/kandahar.png') %>
    </div>
    <div class="slide">
      <%= image_tag('logos/tkn.png') %>
    </div>
  </section>

  <section class="signup-section" id="signup">
      <div class="container">
          <div class="row">
              <div class="col-md-10 col-lg-8 mx-auto text-center">
                  <h2 class="text-white mb-5">Już niedługo kolejny sezon!</h2>
              </div>
          </div>
      </div>
  </section>
