<!DOCTYPE html>
<html>
  <head>
    <title>Puchar Polski w Narciarstwie Wysokogórskim</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
  </head>
  <body id="page-top">
      <!-- Navigation-->
      <nav class="navbar navbar-expand-lg navbar-light navbar-shrink fixed-top" id="mainNav">
          <div class="container">
              <a class="navbar-brand js-scroll-trigger" href="#page-top">Puchar Polski w Narciarstwie Wysokogórskim</a>
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  Menu
                  <i class="fas fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">O Pucharze</a></li>
                      <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">Dokumenty</a></li>
                      <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#signup">PZA</a></li>
                  </ul>
              </div>
          </div>
      </nav>
      <main role="main" class='main'>
        <%= yield %>
      </main>
      <section class="contact-section bg-black">
              <div class="social d-flex justify-content-center">
                  <a class="mx-2" href="mailto:knw@pza.org.pl"><i class="fa fa-envelope"></i></a>
                  <a class="mx-2" href="https://facebook.com/PucharPolskiWNarciarstwieWysokogorskim"><i class="fab fa-facebook-f"></i></a>
              </div>
          </div>
      </section>
      <!-- Footer-->
      <footer class="footer bg-black small text-center text-white-50"><div class="container">Stronę stworzył Darek Finster</div></footer>
  </body>
</html>
