<!DOCTYPE html>
<html>
  <head>
    <title>Puchar Polski w Narciarstwie Wysokogórskim</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
  </head>
  <body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-light navbar-shrink fixed-top" id="mainNav">
      <div class="container">
          <a class="navbar-brand js-scroll-trigger text-info" href="/">SKIMO</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              Menu
              <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Puchar Polski
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/edycje/zglos">Zgłoś edycję 2020/2021</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    PZA
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/sedziowie">Lista sędziów</a>
                    <a class="dropdown-item" href="/instruktorzy">Lista instruktorów</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Strefa zawodnika
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" target='_blank' href="https://www.facebook.com/groups/1092193637796403">Grupa dyskusyjna</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dokumenty
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" target='_blank' href="http://pza.org.pl/wp-content/uploads/2017/12/reg_zaw_nw_2018.pdf">Regulamin zawodów NW</a>
                  </div>
                </li>
                <% if user_signed_in? %>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= image_tag current_user.avatar_thumbnail, class: 'rounded-circle', data: { 'holder-rendered': "true" }, size: '24x24' %>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <%= link_to('Tablica', '/tablica', class: 'dropdown-item') %>
                      <%= link_to(t('.settings'), edit_user_registration_path, class: 'dropdown-item') %>
                      <%= link_to(t('.sign_out'), destroy_user_session_path, method: :delete, class: 'dropdown-item') %>
                    </div>
                  </li>
                <% else %>
                  <% if false %>
                  <li class="nav-item">
                    <%= link_to(t('.sign_in_or_sign_up'), new_user_session_path, class: 'nav-link js-scroll-trigger text-danger') %>
                  </li>
                <% end %>
                <% end %>
              </ul>
          </div>
      </div>
    </nav>
    <main role="main" class='main'>
      <%= yield %>
    </main>
  </body>
</html>
